*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 5px solid slategray;
    height: 110px;
    background-color:#6495ED;
}
.navbar ul li{
    display: inline;
    margin: 7px;
}
.navbar a:active{
    color:rgb(80,100,100)
}
.navbar a:hover{
    color: red;
}
.main-text-container{
    padding: 10px;
    height: 50vh;
    width: 100%;
    display: flex;
}
.main-text-container h1{
    text-align: center;
    padding-bottom: 10px;

}
.main-text-container button{
    margin-top: 10px;
    margin-bottom: 10px;

}
.main-text-container p{
    margin: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.main-page-img{
    height:100vh;
    width: 55vw;
    text-align: center;
    padding:10px 10px 10px 0;


}
/* make tex/items go to the right*/
.right{
    justify-content: right;
}
/* make tex/items go to the left*/
.left{
    justify-content: left;
}
/* make tex/items centered*/
.center{
    text-align: center;
}